.container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;

    .bio {
        max-width: 85.375rem;
        display: inline-flex;
        margin: 3rem 0;
        gap: 6rem;

        @media (max-width: 920px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            padding: 0 2rem
        }

        .bioImage {
            display: flex;
            justify-content: center;

            img {
                @media (max-width: 720px) {
                    width: 50%;
                }
            }
        }

        .bioText {
            display: flex;
            flex-direction: column;
            max-width: 43rem;
            align-items: center;

            .titleContainer {
                width: 100%;
                display: flex;

                @media (max-width: 720px) {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .text0 {
            margin-bottom: 1.5rem;
        }

        .text0,
        .text1 {
            margin-bottom: 1rem;
            color: var(--gray4);
            font-family: Lato;
            font-size: 19px;
            font-weight: 300;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
        }

        .text2 {
            font-family: 'Cormorant', sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 24px;
            line-height: 141.3%;
            color: var(--blue2);
        }

        .name {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;

            p {
                font-family: 'Cormorant';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 141.3%;
                color: var(--gray3)
            }

            @media (max-width: 720px) {
                display: flex;
                justify-content: center;
            }
        }

        .button {
            width: 100%;
            margin: 1rem 0;

            @media (max-width: 720px) {
                display: flex;
                justify-content: center;

            }
        }
    }

    .backimg {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(-200% );
        margin-bottom: 8rem;

        @media (max-width: 920px) {
            display: none;
        }
    }
}