.wppContainer {
    width: 67px;
    height: 67px;
    z-index: 98;
    position: fixed;
    right: 0;
    bottom: 50%;
    cursor: pointer;

    .wppLogo {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url('/images/wpp.svg') ;
        opacity: 0.4;
        transition: 0.3s;

        &:hover {
            opacity: 99;
        }
    }
}